/* SemiBold */
@font-face {
    font-family: 'Manrope';
    src: url('../general/fonts/Manrope/webfonts/Manrope-SemiBold.woff2') format('woff2'),
        url('../general/fonts/Manrope/otf/Manrope-SemiBold.otf') format('opentype'),
        url('../general/fonts/Manrope/ttf/Manrope-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* Regular */
@font-face {
    font-family: 'Manrope';
    src: url('../general/fonts/Manrope/webfonts/Manrope-Regular.woff2') format('woff2'),
        url('../general/fonts/Manrope/otf/Manrope-Regular.otf') format('opentype'),
        url('../general/fonts/Manrope/ttf/Manrope-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Medium */
@font-face {
    font-family: 'Manrope';
    src: url('../general/fonts/Manrope/webfonts/Manrope-Medium.woff2') format('woff2'),
        url('../general/fonts/Manrope/otf/Manrope-Medium.otf') format('opentype'),
        url('../general/fonts/Manrope/ttf/Manrope-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Light */
@font-face {
    font-family: 'Manrope';
    src: url('../general/fonts/Manrope/webfonts/Manrope-Light.woff2') format('woff2'),
        url('../general/fonts/Manrope/otf/Manrope-Light.otf') format('opentype'),
        url('../general/fonts/Manrope/ttf/Manrope-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* ExtraLight */
@font-face {
    font-family: 'Manrope';
    src: url('../general/fonts/Manrope/webfonts/Manrope-ExtraLight.woff2') format('woff2'),
        url('../general/fonts/Manrope/otf/Manrope-ExtraLight.otf') format('opentype'),
        url('../general/fonts/Manrope/ttf/Manrope-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('../general/fonts/Manrope/webfonts/Manrope-ExtraBold.woff2') format('woff2'),
        url('../general/fonts/Manrope/otf/Manrope-ExtraBold.otf') format('opentype'),
        url('../general/fonts/Manrope/ttf/Manrope-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('../general/fonts/Manrope/webfonts/Manrope-Bold.woff2') format('woff2'),
        url('../general/fonts/Manrope/otf/Manrope-Bold.otf') format('opentype'),
        url('../general/fonts/Manrope/ttf/Manrope-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}